export EDITOR=/usr/bin/vim
export VISUAL=/usr/bin/vim

PATH=$PATH:~/.local/bin

export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME/bin:"*) ;;
  *) export PATH="$PNPM_HOME/bin:$PATH" ;;
esac

{{ if and (eq .chezmoi.os "linux") (env "WSL_DISTRO_NAME") }}
path+=(
  /mnt/c/Users/oof/scoop/shims
)
{{ end }}

zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'

bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

HISTSIZE=10000
SAVEHIST=10000
setopt share_history
HISTFILE=~/.zsh_history

{{ if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ end }}

{{ if eq .chezmoi.os "linux" }}
if (( $+commands[fzf] )); then
  source <(fzf --zsh)
  zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
  zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'
fi


{{   if eq .chezmoi.osRelease.id "nixos" }}
for profile in ${(s: :)NIX_PROFILES} /run/current-system/sw; do
  if [[ -r "$profile/share/antidote/antidote.zsh" ]]; then
    source "$profile/share/antidote/antidote.zsh"
    break
  fi
done
{{   else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch") }}
[[ -r /usr/share/zsh-antidote/antidote.zsh ]] && source /usr/share/zsh-antidote/antidote.zsh
(( $+commands[paru] )) && alias yay=paru
{{   else if eq .chezmoi.osRelease.id "ubuntu" }}
source ~/.antidote/antidote.zsh
{{   end }}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
alias compile-arm='f(){ arm-linux-gnueabihf-as "$1" -o "${1%.s}.o" && arm-linux-gnueabihf-ld -static "${1%.s}.o" -o "${1%.s}" && rm "${1%.s}.o"; }; f'
alias compile-arm64='f(){ aarch64-linux-gnu-as "$1" -o "${1%.s}.o" && aarch64-linux-gnu-ld -static "${1%.s}.o" -o "${1%.s}" && rm "${1%.s}.o"; }; f'
sc-dl() {
    yt-dlp -x --audio-format mp3 \
        --parse-metadata "title:%(artist)s - %(title)s" \
        -o "%(artist,uploader)s - %(title)s.%(ext)s" \
        --add-metadata \
        --embed-thumbnail \
        "$@"
}
alias ls=exa
{{ end }}


(( $+functions[antidote] )) && antidote load
