EDITOR=/usr/bin/vim
PATH=$PATH:~/.local/bin
alias yay=yay --assume-installed nodejs-lts-iron=20.19.2 

zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'

bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

HISTSIZE=10000
SAVEHIST=10000
setopt share_history
HISTFILE=~/.zsh_history

{{ if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ end }}
{{ if eq .chezmoi.os "linux" }}
source '/usr/share/zsh-antidote/antidote.zsh'
{{ end }}
antidote load
