EDITOR=/usr/bin/vim
PATH=$PATH:~/.local/bin

zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'

bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

HISTSIZE=10000
SAVEHIST=10000
setopt share_history
HISTFILE=~/.zsh_history

{{ if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ end }}
{{ if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "arch" }}
source '/usr/share/zsh-antidote/antidote.zsh'
{{   else if eq .chezmoi.osRelease.id "ubuntu" }}
source ~/.antidote/antidote.zsh
{{   end }}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
alias compile-arm='f(){ arm-linux-gnueabihf-as "$1" -o "${1%.s}.o" && arm-linux-gnueabihf-ld -static "${1%.s}.o" -o "${1%.s}" && rm "${1%.s}.o"; }; f'
alias compile-arm64='f(){ aarch64-linux-gnu-as "$1" -o "${1%.s}.o" && aarch64-linux-gnu-ld -static "${1%.s}.o" -o "${1%.s}" && rm "${1%.s}.o"; }; f'
{{ end }}

antidote load
