local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.font = wezterm.font 'JetBrainsMono Nerd Font'

{{ if eq .chezmoi.os "windows" }}
config.default_prog = { 'pwsh' }
config.allow_win32_input_mode = false
{{ else if eq .chezmoi.os "linux" }}
config.default_prog = { 'zsh' }
config.front_end = "WebGpu"
{{ end }}

config.enable_kitty_keyboard = true
return config
