local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.font = wezterm.font 'JetBrainsMono Nerd Font'
-- config.color_scheme = 'One Dark (Gogh)'

{{ if eq .chezmoi.os "windows" }}
config.default_prog = { 'pwsh' }
config.allow_win32_input_mode = false
{{ else if eq .chezmoi.os "linux" }}
config.default_prog = { 'zsh' }
config.color_scheme = "Noctalia"
{{ end }}

config.enable_kitty_keyboard = true
enable_kitty_graphics=true
return config
