{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch")) -}}
#!/usr/bin/env bash
set -euo pipefail

packages=(
{{- range .packages.arch }}
  {{ . | quote }}
{{- end }}
)

sudo pacman --sync --needed --noconfirm "${packages[@]}"
{{- end -}}
